@page "/button"
<style>
    .c {
        display: grid;
        grid-template-columns: repeat(3,auto);
        gap: 15pt;
    }

    button {
        height: 70px;
    }
</style>

<div class="c">
    @for
    (int i = 9; i >= 0; i--)
    {
        <button>@i</button>
    }
</div>